.container {
    display: flex;
    align-items: flex-start;
}
.lista, .productos {
    margin: 1rem;
}
#lista-vacia {
    text-align: center;
    display: none;
}

#lista-vacia>img {
    width: 200px;
}
.lista ul {
    padding-inline-start: 0;
}
.lista li {
    list-style-type: none;
    border: 1px black solid;
    border-bottom: 0;
    padding: 6px;
}

.lista li:last-child {
    border-bottom: 1px black solid;
}

#acceso-rapido img {
    max-width: 50px;
    padding: 10px;
}

.seleccionado {
    border: 2px black solid;
}

.icono-borrar  {
    display: block;
    float: right;
    max-height: 1em;
}

.atribucion {
    font-size: 0.8em;
}

.comprado {
    text-decoration: line-through;
}

#lista-vacia.esVisible {
    display: block;
}

